{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Álbum - {{ album.title }}</title>
    <link rel="stylesheet" href="{% static 'css/album_detail.css' %}">
</head>
<body>
    <div class="album-details">
        <h1>Detalles del Álbum</h1>
        <h2>{{ album.title }}</h2>
        <div class="artist-info">
            {% if album.artist.image %}
                <img src="{{ album.artist.image.url }}" alt="{{ album.artist.name }} Imagen" class="artist-image">
            {% endif %}
            <p class="artist-name">Artista: {{ album.artist.name }}</p>
        </div>
        <p class="album-property">Año: {{ album.year }}</p>
        <p class="album-property">Género: {{ album.genre.name }}</p>
        <p class="album-property">Descripción:</p>
        <p class="album-description">{{ album.description|default:"N/A" }}</p>

        <form action="{% url 'album_feedback' album.id %}" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="feedback" class="album-property">Tu opinión:</label>
                <input type="text" class="form-control" id="feedback" name="feedback" placeholder="Tu opinión sobre el álbum">
            </div>

            <div class="form-group">
                <label for="rating" class="album-property">¿Qué te ha parecido?</label>
                <select class="form-control" id="rating" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>