<!-- index.html -->

{% extends 'base.html' %}

{% block title %}Índice del Archivo Musical{% endblock %}

{% block content %}
<main>
    <div class="hero-section">
        <h2>Bienvenido al Archivo Musical</h2>
        <p>Descubre un mundo de maravillas musicales en el Archivo Musical. Explora una vasta colección de álbumes, artistas y géneros que abarcan diferentes épocas y estilos.</p>
        <p>Sumérgete en las melodías, letras e historias detrás de tus canciones favoritas. Ya seas un entusiasta de la música o un oyente casual, aquí encontrarás algo para todos.</p>
    </div>

    <div class="featured-section">
        <h3>Contenido Destacado</h3>
        <p>Échale un vistazo a nuestra selección de álbumes y artistas que están marcando tendencia en la escena musical. Desde clásicos atemporales hasta los últimos lanzamientos, lo tenemos todo.</p>
        <p>Siéntete libre de explorar los diversos géneros y descubrir joyas ocultas que resuenen con tu gusto musical. Nuestro Archivo Musical es un tesoro para los amantes de la música.</p>
    </div>

    <div class="explore-section">
        <h3>Explora el Archivo</h3>
        <p>Navega por nuestra interfaz fácil de usar para encontrar álbumes, artistas y géneros que cautiven tus sentidos musicales. Utiliza las opciones de búsqueda y filtrado para personalizar tu exploración musical.</p>
        <p>Cada página de álbum y artista proporciona un viaje detallado a su mundo musical. Sumérgete en las letras de las canciones, las descripciones de los álbumes e incluso comparte tus pensamientos con la comunidad a través de comentarios.</p>
    </div>

    <div class="join-section">
        <h3>Únete a la Comunidad</h3>
        <p>Conviértete en parte de la comunidad del Archivo Musical. Conéctate con otros entusiastas de la música, comparte tus pistas favoritas y descubre recomendaciones de personas con gustos similares.</p>
        <p>No olvides dejar tus comentarios sobre los álbumes y compartir tus experiencias musicales. El Archivo Musical es más que una colección; es una comunidad vibrante de amantes de la música.</p>
    </div>
</main>
{% endblock %}