{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Detalles de la Canción</title>
    <link rel="stylesheet" href="{% static '/css/song_detail.css' %}">
</head>
<body>
    <div class="song-details">
        <h1>{{ song.title }}</h1>
        <div class="artist-info">
            <img src="{{ song.artist.image.url }}" alt="{{ song.artist.name }} image" class="artist-image">
            <p class="artist-name">Artista: {{ song.artist.name }}</p>
        </div>
        <p class="song-property">Duración: {{ song.duration }}</p>
        <p class="song-property">Género: {{ song.genre.name }}</p>
        <p class="song-property">Álbum: {{ song.album.title }}</p>
        <!-- Other relevant song details -->
    </div>
</body>
</html>
