/* Reset some default styles for better consistency */

header { /* Stylish header with a rich blue accent for visual distinction */
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Introduce a subtle border for visual separation */
}

body, h1, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    width: 250px;
    box-sizing: border-box;
}

li:hover {
    transform: scale(1.05);
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

a:hover {
    color: #0056b3;
}

.album-image {
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 10px 10px 0 0; /* Rounded corners only at the top */
    margin-bottom: 10px;
}

.artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-name {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
}

.artist-genre {
    color: #666;
    font-size: 1em;
    margin: 0;
}

/* Optional: Add some responsive styles */
@media (max-width: 768px) {
    li {
        width: 100%;
        padding: 10px;
    }
}

footer { /* Consistent footer with the same accent color as the header */
    text-align: center; /* Center text alignment in the footer for a balanced layout */
    padding: 20px;
    background-color: #007bff; /* Maintain consistency with the header's accent color */
    color: #fff;
    border-top: 1px solid #ddd; /* Add a subtle border for visual separation */
  }  

  
.scrollable-container {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
}